@import url("colors.css");

* {
    all: unset;
    min-height: 0;
    min-width: 0;
    font-family: "Hack Nerd Font";
    font-size: 12px;
}

window {
    border-bottom: 1px solid @overlay;
    color: @text;
    background: alpha(@base, 0.92);
}

#workspaces button {
    all: unset;
    margin-left: 12px;
    margin-right: 6px;
    color: @muted;
}

#workspaces button:hover {
    all: unset;
    margin-left: 12px;
    background: @highlight_low;
    color: @subtle;
}

#workspaces button.active {
    color: @yellow;
    font-weight: 800;
}

tooltip {
    background-color: @surface;
    color: @text;
    border: 1px solid @overlay;
}

tooltip label {
    color: @text;
}

#cpu,
#memory,
#pulseaudio,
#battery,
#network {
    margin-left: 14px;
    color: @subtle;
}

#tray {
    margin-left: 6px;
    margin-right: 12px;
}

#clock {
    color: @yellow;
}
