
* {
    font-family: Jetbrains Mono Nerd Font, monospace;
    font-size: 18px;
}

window#waybar { 
    background-color: #282828; /* Gruvbox dark background */
    color: #ebdbb2; /* Gruvbox foreground */
}

.modules-left {
    background-color: #3c3836;
    padding: 0px;
}

.modules-right {
    background-color: #282828;
    padding: 0px;
}

#custom-scratch {
    background-color: #3c3836; /* Slightly lighter for contrast */
    color: #bdae93;
    padding: 0px 9px;
}

#workspaces {
}

#workspaces button {
    padding: 0px;
    min-width: 1px;
    background-color: #3c3836; /* Different background */
    color: #ffe4b5; /* Gruvbox yellow */
}

#workspaces button.focused { 
    padding: 0px;
    background-color: #458588; /* Gruvbox blue */
    color: #ebdbb2;
}

#mode { 
    background-color: #d65d0e; /* Gruvbox orange */
    color: #ebdbb2;
    padding: 0px 5px;
    border: 1px solid #3c3836; /* Slightly lighter */
}

#window {
    color: #ebdbb2;
    background-color: #504945; /* Darker grey for window module */
    padding: 0px 10px;
}

window#waybar.empty #window {
    background-color: #282828;
    color: transparent;
}

window#waybar.empty {
    background-color: #282828;
}

#network, #temperature, #backlight, #pulseaudio, #battery, #clock {
    padding: 0px;
}

#network {
    color: #689d6a; /* Gruvbox aqua/cyan */
}

#temperature {
    color: #d79921; /* Gruvbox yellow */
}

#backlight {
    color: #b16286; /* Gruvbox purple */
}

#pulseaudio {
    color: #458588; /* Gruvbox blue */
}

#battery {
    color: #98971a; /* Gruvbox green */
}

#clock {
    color: #d65d0e; /* Gruvbox orange */
}

#tray {
    padding: 0px 8px;
    margin: 0px 5px;
}

#battery.critical {
    color: #cc241d; /* Gruvbox red */
}

#network.disconnected {
    color: #cc241d; /* Gruvbox red */
}

