@import url("/home/kamronbek/.config/wofi/colors.css");

* {
  all: unset;
  outline: none;
  border: none;
  color: @secondary;
  font-family: "JetBrainsMono NF", monospace;
  font-size: 14px;
}

window {
  border-radius: 0.75em;
  border: 1px solid @primary;
  background-color: @background;
}

#outer-box {
  padding: 5px;
}

#input {
  margin: 5px;
  padding: 5px 5px 5px 0px;
  border: 1px solid @primary;
  border-radius: 0.5em;
}

#input image {
  color: rgba(0, 0, 0, 0);
}

#inner-box {
  margin: 5px;
}

#text {
  padding-left: 10px;
  color: @primary;
}

#text:selected {
  color: @primary;
}

#entry {
  padding: 5px 5px 5px 10px;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 0.5em;
  color: @primary;
}

#entry:selected {
  border: 1px solid @primary;
  color: @primary;
}

#inner-box flowboxchild:nth-child(even) {
    background-color: @background;
}
